ConsoleApplication1/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8744/MyService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceWSDL" />
  <xs:element name="Fly">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceWSDL" minOccurs="0" name="stu" nillable="true" type="q1:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceWSDL" minOccurs="0" name="FlyResult" nillable="true" type="q2:ResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>